<ul class="nav__section" id="header">
    <li class="nav__item nav__header">NoteHub</li>
</ul>
<ul class="nav__section" id="topics">
    <li class="nav__item"><a class="nav__item-link" href="#">COMP1113</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">COMM1116</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">COMP1510</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">COMP1537</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">COMP1712</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">COMP1800</a></li>
</ul>
<ul class="nav__section" id="options">
    <li class="nav__item"><a class="nav__item-link" href="#">Account</a></li>
    <li class="nav__item"><a class="nav__item-link" href="#">Settings</a></li>
</ul>